@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
:root {
    /* Light Theme */
    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryLightGrayishBlue: hsl(236, 33%, 92%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
    /* Dark Theme */
    --VeryDarkBlue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --LightGrayishBlue: hsl(234, 39%, 85%);
    --LightGrayishBlue: hsl(236, 33%, 92%);
    /* (hover) */
    --DarkGrayishBlue: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
    --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
    --BrightBlue: hsl(220, 98%, 61%);
    --CheckBackground: linear-gradient(217deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

html {
    font-size: 18px;
    font-family: 'Josefin Sans', 'Courier New', Courier, monospace;
}

p {
    margin: 0px;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 5px;
    border: none;
    margin-bottom: 24px;
}

.checkbox {
    border-radius: 100%;
    border: 1px var(--LightGrayishBlue) solid;
    height: 1.3rem;
    width: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
}

.checkbox:hover {
    border: 1px var(--DarkGrayishBlue) solid;
}

.task[data-value=true] {
    text-decoration: line-through;
    color: var(--VeryLightGrayishBlue);
}

.task[data-value=true]>.checkbox {
    border: none;
    visibility: visible;
    background: var(--CheckBackground);
    background-color: transparent;
}

.task[data-value=true]>.checkbox>.check-img {
    visibility: visible;
}

.check-img {
    object-fit: cover;
    visibility: hidden;
}

.task {
    width: 100%;
    box-sizing: content-box;
    display: grid;
    gap: 12px;
    font-weight: 300;
    grid-template-columns: 1fr 10fr 3fr;
    align-items: center;
    padding: 20px 24px;
    border: none;
    border-bottom: solid var(--VeryLightGrayishBlue) 1px;
    background-color: white;
    color: var(--CheckBackground);
}

#night-mood {
    display: none;
}

img {
    cursor: pointer;
}

body {
    background: url(./images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    transition: all 0.5s;
}

.card {
    margin: 0px 31.3%;
    border-radius: 15px;
}

.card-header {
    color: var(--VeryLightGray);
    letter-spacing: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 14px;
}

button {
    background-color: transparent;
    border: none;
    color: var(--);
    font-weight: 700;
}

.card-body {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 50px 80px 0px var(--VeryLightGrayishBlue);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    font-size: 0.8rem;
    border: none;
    background-color: white;
}

.footer-center {}

main {
    display: flex;
    flex-direction: column;
    margin-top: 3.83%;
    width: 90wv;
    min-height: 100vh;
}